<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Arsenal</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">
</head>
<body>
<div class="menu">
    <div class="wrap">
        <div class="logo"><a href="{% url 'home' %}"><img src="{% static 'images/Logo.png' %}" alt="Arsenal"></a></div>
        <ul>
            <li><a href="{% url 'home' %}">Главная</a></li>
            <li><a href="/news/">Все новости</a></li>
            <li><a href="{% url 'history:history_home' %}">История клуба</a></li>
            <li><a href="#">Состав команды</a></li>
            <li><a href="#">Матчи</a></li>
            <li><a href="#">Форум</a></li>
        </ul>
    </div>
</div>
<div class="content">
    <div class="wrap">
        {% block content %}
        {% endblock %}
    </div>
</div>
</body>
</html>